<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header><h1>RESTAURANTS</h1></header>
      {{{body}}}
    <footer>
      <br><br>
      Hemant Kansal, N01468035, n01468035@humbermail.ca<br><br>
      Kiruthika Sundararajan, N01414462, n01414462@humbermail.ca<br>
    </footer>
  </body>
</html>