<fieldset>
    <legend style="color:orange"><b>List your restaurants</b></legend>
    <form action="/restaurants" method="POST">
        <br>
        <b>Page: </b><input type="number" name="page" id="page"><br>
        <br>

        <b>Restaurants per page: </b><input type="number" name="perPage" id="perPage"><br>
        <br>

        <b>Borough: </b><input type="text" name="borough" id="borough" placeholder="(Optional)"><br>
        <br>

        <input type="submit" class="button" name="submit" value="Submit" />
        <input type="reset" class="button" value="Reset" />
    </form>
</fieldset>
</body>

</html>